body {
    margin: 0;
    /* padding: ; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2); /* Gradient background */
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    max-width: 80%;
    text-align: center;
}

.box {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    margin: 10px 0;
    color: #ffcc00;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

p, li, a {
    color: #e0e0e0;
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.trail {
    position: absolute;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,0,0,0.6) 50%, rgba(255,0,0,0) 100%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: screen;
    animation: fadeOut 1s forwards, growShrink 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes growShrink {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.5);
    }
}
